@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");

body {
  background-image: url("/assets/paper-txt.jpg");
  color: #3e0500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  position: relative;
}

.hidden {
  display: none;
}

.grey {
  filter: grayscale(100%);
}

.red {
  color: red;
}

.fade-in {
  animation: fade-in 0.3s ease 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 100;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#header-banner {
  margin-left: 25%;
}

#sorting {
  font-family: "Charm", cursive;
  font-size: 1.3rem;
}

#list tbody tr:nth-child(odd) td {
  background-color: #e7d7a9;
  border-right: #f7e9c2 1px dotted;
}

#list tbody tr:nth-child(even) td {
  border-right: #e7d7a9 1px dotted;
  background-color: #f7e9c2;
}

#sorting th,
[data-field="last-name"],
[data-field="name"],
[data-field="pref"],
[data-field="name"],
[data-field="squad"] {
  cursor: pointer;
}

[data-field="pref"] {
  padding-left: 3%;
  padding-right: 3%;
}

[data-field="squad"] {
  padding-left: 8%;
}

#student-popup {
  background-image: url("/assets/paper-txt.jpg");
  position: fixed;
  box-shadow: 10px 10px 16px -1px rgba(62, 5, 0, 0.31);
  border-radius: 20px;
  top: 35%;
  left: 62%;
  padding: 2rem;
}

#popup-header {
  display: flex;
  gap: 20px;
  font-family: "Charm", cursive;
}

#popup-title {
  align-self: center;
}

#popup-house {
  margin-top: 0;
}

#popup-name {
  margin-bottom: 0;
}

#popup-expell {
  background-color: #bf1717;
  color: white;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

#popup-btns {
  display: flex;
  justify-content: space-between;
}

#popup-expell:hover,
#popup-close:hover {
  filter: brightness(1.2);
}

#popup-close {
  background-color: #cec096;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

#expelled-stamp {
  position: absolute;
  top: 55%;
  left: 21%;
}

#squad-popup {
  background-image: url("/assets/paper-txt.jpg");
  position: fixed;
  box-shadow: 10px 10px 16px -1px rgba(62, 5, 0, 0.31);
  border-radius: 20px;
  top: 35%;
  left: 62%;
  padding: 2rem;
}
